.scenario {
    height: 40px;
}

.scenario-selected {
    background-color: rgb(210, 210, 210);
    height: 40px;
}

.scenario:hover {    
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

.start-button {
    font-size: 20px;
    background-color: rgb(216, 214, 214);
    border-radius: 5px;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    height: 40px;
    width: 300px;
}

.start-button:hover {
    background-color: silver;
}