.header-bar {
    height: 40px;
    background-color: #5a5a5a;
    display: flex;
    align-items: center;
}

.home-button 
{
    color: white;
    cursor: pointer;    
    margin: 20px;    
}

.content-body {
    display: flex;
    flex-direction: column;    
    justify-content: center;    
    padding-left: 30px;
}