<div class="component-container">
    <div class = "messages-area" style="padding-left: 100px; padding-right: 100px; background-color: white;" >
        <div style="background-color: white;" *ngFor="let m of messagesService.messages">
            <hr/>
            <div *ngIf="m.isUserMessage">
                <div style="font-weight: bold;">You</div>                
                <div>
                    <span *fixedText="m.corrections??' '"></span>
                </div>
            </div>
            <div *ngIf="!m.isUserMessage">
                <div style="font-weight: bold;">Chat</div>
                <span [innerHTML]="getMarkdown(m.content!)"></span>
            </div>
        </div>
</div>
    <div class = "input-area">
        <app-chat-input style="flex-grow: 1; padding: 4px; overflow: auto; background-color: white; margin: 20px; border-radius: 4px;"></app-chat-input>
        <div style="padding: 10px; width: 150px;">
            <button (click) = "sumbitMessage()" style="display: block;">Complete</button>
            <button (click) = "sumbitCurrent()" >Submit current</button>
        </div>
    </div>    
</div>