.component-container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    background-color: rgb(235, 235, 235);
    height:100vh;
    
}

.submit-button {
    background-image: url('../../../assets/submit_gray.png');
}

.submit-button:hover {
    background-image: url('../../../assets/submit_grayest.png');
}

.fix-button:hover {
    background-image: url('../../../assets/checkbox_grayest.png');
}

.fix-button {
    background-image: url('../../../assets/checkbox_gray.png');
}

.messages-area {
    background-color: burlywood;    
    overflow-y: auto;
}

.ft-error {
    text-decoration: line-through;    
}

.ft-correct {
    color: black;

}.ft-fixed {
    color: red;
}