<div class="container">
    <div class = "messages-area">
        <span>
            sdfsdf
        <span style="background-color: silver; border-radius: 10px; padding: 5px; margin: 10px; border-width: 2px; border-color: rgb(255, 0, 76);"> 
            Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 Text text 1 
        </span>
        <span style="background-color: blue; " contenteditable="true">Text text 2 Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2Text text 2</span>
        sdfdsf
        </span>
        <span> sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3  sdfsdf d3 </span>

    </div>
    <div class = "input-area">
        <app-chat-input style="flex-grow: 1;"></app-chat-input>
        <div style="padding: 10px; width: 150px;">
            <button style="display: block;">Complete</button>
            <button (click) = "sumbitCurrent()" >Submit current</button>
        </div>
    </div>    
</div>
