.removed-text {
    text-decoration: line-through;
    color: red;
}

[contenteditable="true"] {
    outline: none;
}

.ft-error {
    text-decoration: line-through;    
}

.ft-correct {
    color: black;

}.ft-fixed {
    color: red;
}