<div (keydown)="onKeyDownWhenEdit($event)" (click)="onContentClick()" (blur)="onContentBlur()" contenteditable="false" 
    style="background-color: rgb(255, 255, 255); height: 100%; overflow-y: auto;">    
    <span contenteditable="false" *fixedText="corrections"></span>
        
    <span #editedSpan contenteditable="true" 
            (paste)="handlePaste($event)" (input)="onInput()"></span>
    <span contenteditable="false" style="color: silver; ">{{hintText}}</span>
    <span *ngIf="hintText!=''" #editedPostfixSpan contenteditable="true">{{editedContentPostfix}}</span>
</div>
